<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Storage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div>
            <h2>New Storage</h2>
            <div>
                <div>
                    <form action="#" th:action="@{/addstorage}" th:object="${storage}" method="post">
                        <div class="row">
                            <div >
                                <label for="number">Number</label>
                                <input type="text" th:field="*{number}" id="number" placeholder="number">
                                <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}" ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div >
                                <input type="submit"  value="Add Storage">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>