<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Passport</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div>
            <h2>New Passport</h2>
            <div>
                <div>
                    <form action="#" th:action="@{/addclient}" th:object="${client}" method="post">
                        <div class="row">
                            <div >
                                <label for="mail">Mail</label>
                                <input type="text" th:field="*{mail}" id="mail" placeholder="mail">
                                <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" ></span>
                            </div>
                            <div >
                                <label for="hash" class="col-form-label">Hash</label>
                                <input type="text" th:field="*{hash}"  id="hash" placeholder="hash">
                                <span th:if="${#fields.hasErrors('hash')}" th:errors="*{hash}" ></span>
                            </div>
                            <div >
                                <label for="salt" class="col-form-label">Salt</label>
                                <input type="text" th:field="*{salt}" id="salt" placeholder="salt">
                                <span th:if="${#fields.hasErrors('salt')}" th:errors="*{salt}" ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div >
                                <input type="submit"  value="Add Client">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>